<mat-card>
  <mat-card-content>
    <p *ngIf="mode">Add new recipe</p>
  </mat-card-content>
  <mat-card-content>
    <p *ngIf="!mode">Edit this recipe</p>
  </mat-card-content>
  <form (submit)="onCreateProduct(productForm)" #productForm="ngForm">
    <mat-form-field>

      <input matInput type="text" name="name" [ngModel]="product?.name" placeholder="Name" required #name="ngModel" minlength="3">
      <mat-error *ngIf="name.invalid">Please enter a recipe name, must be at least 3 characters</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" name="type" [ngModel]="product?.type" placeholder="Image Link" required #type="ngModel" minlength="12">
      <mat-error *ngIf="type.invalid">Type needs to be least 3 characters long</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" name="description" [ngModel]="product?.description" placeholder="Description" required #description="ngModel"
        minlength="3">
      <mat-error *ngIf="description.invalid">Description needs to be at least 3 characters </mat-error>
    </mat-form-field>
    <p>Ingredients (optional)</p>
    <mat-form-field>

      <input matInput type="text" name="ingredient1" [ngModel]="product?.ingredient1" placeholder="ingredient 1" #ingredient1="ngModel">
      <mat-error *ngIf="ingredient1.invalid">Please enter a valid entry</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" name="ingredient2" [ngModel]="product?.ingredient2" placeholder="ingredient 2" #ingredient2="ngModel">
      <mat-error *ngIf="ingredient2.invalid">Please enter a valid entry</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" name="ingredient3" [ngModel]="product?.ingredient3" placeholder="ingredient 3" #ingredient3="ngModel">
      <mat-error *ngIf="ingredient3.invalid">Please enter a valid entry</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary"> Add Recipe </button>
    <button mat-raised-button (click)="onFormReset(productForm)" color="accent"> Cancel </button>
  </form>

</mat-card>
<div *ngIf='errors.length'>
  <p *ngFor='let error of errors'>{{error}} </p>
</div>
