<mat-card class="detail-card">
  <mat-card-header>
    <mat-card-title>{{product?.name}}</mat-card-title>
    <button mat-icon-button (click)="onLike()" [color]="color">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
  </mat-card-header>
  <img mat-card-image [attr.src]="product?.type" [alt]="product?.name">
  <mat-list-item class="primary-imenu-item" role="listitem">
    <mat-form-field class="select-form">
      <mat-select placeholder="Ingredients" name="item" class="filter-select" [(ngModel)]="selecteditems" [compareWith]="equals"
        multiple #itemSelect="ngModel">
        <button mat-raised-button class="mat-primary fill text-sm" (click)="selectAll(itemSelect, ingredients)">
          Select All
        </button>
        <!--       <mat-checkbox class="select" class="mat-primary fill text-sm" (click)="selectAll(itemSelect, ingredients)">
          Select All </mat-checkbox> -->

        <mat-option *ngFor="let item of ingredients" [value]="item">
          {{item.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-list-item>
  <div *ngIf='errors.length'>
    <p *ngFor='let error of errors'>{{error}} </p>
  </div>
</mat-card>
